<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Históricos</span>
    <span class="example-spacer"></span>
    <button class="example-icon" mat-icon-button (click)="onNoClick()">
      <mat-icon aria-label="Close">close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>
<mat-dialog-content flex>
  
  <form #formControl="ngForm">
    <mat-form-field>
      <mat-select placeholder="Seleccionar Foco" [(ngModel)]="focoSeleccionado" name="op" required>
        <mat-option *ngFor="let op of dataJSON" [value]="op.focusId" (click)="focoIdSeleccionado(op.focusId)">
          {{op.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Fecha Inicio" [(ngModel)]="fechaInicio" name="picker" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <!--  -->
    <mat-form-field>
      <mat-select placeholder="Seleccionar Analizador" [(ngModel)]="analyzerSeleccionado" name="op" required>
        <ng-container *ngIf="dataFormated">
          <mat-option>
            -- --
          </mat-option>
          <mat-option *ngFor="let op of dataFormated" [value]="op.analyzerId" (click)="analyzerIdSeleccionado(op.analyzerId)" required>
            {{op.manufacturer}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Fecha final" [(ngModel)]="fechaFinal" name="picker2" required>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <br>
    <!--  -->
    <mat-form-field>
      <mat-select placeholder="Seleccionar Medida" [(ngModel)]="sensorMeasuring" name="op" required>
        <mat-option>
          -- --
        </mat-option>
        <mat-option *ngFor="let op of sensor" [value]="op" (click)="getSensorId(op)">
          {{op.measuringComponent}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div mat-dialog-actions>
    <ng-container *ngIf="canDownload; else elseBlock">
      <button mat-raised-button color="accent" (click)="canDownload = !canDownload">
        <mat-icon aria-label="Done">cancel</mat-icon>
      </button>

      <button mat-raised-button color="accent" (click)="generarCSVApi()">
        <mat-icon aria-label="Done">get_app</mat-icon>
      </button>
    </ng-container>

    <ng-template #elseBlock>
      <button mat-raised-button color="accent" (click)="refrescar();">
        <mat-icon aria-label="Reset">autorenew</mat-icon>
      </button>

      <button mat-raised-button color="accent" (click)="historicalData()" [disabled]="!formControl.valid">
        <mat-icon aria-label="Done">done</mat-icon>
      </button>
    </ng-template>

  </div>
</mat-dialog-content>