.mat-dialog-content {
    margin: 10px 10px 0px !important;
}
.mat-form-field {
    font-size: 14px;
    width: 45% !important;
    padding: 4px !important;
}

.mat-dialog-actions {
    padding: 75px 150px 0 !important;
}
mat-spinner { 
    width: 30px !important; 
    height: 30px !important; 
}
