@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-indigo, 500);
$accent: mat-palette($mat-indigo, 900);
// $accent:  mat-palette($mat-pink, 500, A200, A400);
$warn: mat-palette($mat-red, 500);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
@font-face {
    font-family: 'Arvo';
    font-display: auto;
    src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    ::-webkit-scrollbar {
        display: none;
    }
}

.app-loading {
    .logo {
        width: 100px;
        height: 100px;
        background: url(./assets/logo.png) center center no-repeat;
    }
}

table {
    width: 100%;
}

.customSelect {
    margin-top: 20px !important;
}

/*.custom-dialog {
    .mat-dialog-container {
        height: 100vh !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        position: fixed !important;
        background: #E8EAF6 !important;
    }
}

.mat-dialog-container {
    padding: 0px !important;
    overflow: hidden !important;
    max-width: none !important;
}

.mat-dialog-content {
    margin: 0 -21px !important;
    overflow: hidden !important;
    max-height: inherit !important;
}

.mat-dialog-actions {
    display: block !important;
    flex-grow: inherit;
    flex-shrink: inherit;
    padding: 120px 150px 0 !important;
    align-content: center !important;
    &:last-child {
        margin-bottom: 0 !important;
    }
}*/

.mat-tab-body-content {
    // height: 100%;
    overflow: hidden !important;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    position: sticky !important;
    position: -webkit-sticky !important;
    /* For macOS/iOS Safari */
    top: 0 !important;
    /* Sets the sticky toolbar to be on top */
    z-index: 1000 !important;
    /* Ensure that your app's content doesn't overlap the toolbar */
    // border-bottom: 0.5px solid white !important;
    // border-right: 0.5px solid white !important;
    box-shadow: 7px 0 10px rgba(0, 0, 0, .24);
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-card {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
    margin: 15px;
    padding: 0px !important;
    padding-bottom: 0px !important;
    overflow: hidden !important;
    .mat-card-content {
        font-size: 1rem;
        line-height: 23px;
        padding: 24px;
    }
    .mat-card-image {
        width: calc(100% + 0px);
        margin: 0 0px 0px 0px;
    }
    .mat-card-header {
        padding: 12px;
        .mat-card-title {
            margin-bottom: 2px;
            font-size: 20px;
        }
        .mat-card-subtitle,
        .mat-card-subtitle:not(:first-child) {
            margin-bottom: 0px;
            margin-top: 0px;
            font-size: 14px;
        }
        &.text-white {
            .mat-card-title {
                color: white;
            }
            .mat-card-subtitle {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
    .mat-card-title {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .mat-card-subtitle {
        margin-bottom: 20px;
    }
    .mat-card-actions {
        margin: 0px !important;
    }
}

.mat-drawer-container {
    margin: 0;
    padding: 0;
    background-image: url(./assets/background.png) !important;
}

.mat-drawer {
    background-color: #3F51B5;
    overflow: hidden !important;
    /* color: white; */
}

.mat-list-item {
    color: white !important;
}

.tooltip {
    position: absolute;
    z-index: 1;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    border-radius: 3px;
    text-align: center;
    pointer-events: none;
    color: white;
    transition: opacity .1s ease-out;
}

.tooltip.tooltip-hidden {
    opacity: 0;
}