<div class="holder">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
          <span class="login100-form-title p-b-43">
            Inicio de sesión
          </span>

          <mat-form-field class="example-full-width" color="primary">
            <input matInput placeholder="Username" formControlName="Username" name="username" required>
            <mat-error *ngIf="!form.controls['Username'].valid && form.controls['Username'].touched">{{getUserNameErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field color="primary">
            <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" name="Password" type="password"
              formControlName="Password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="!form.controls['Password'].valid && form.controls['Password'].touched">{{getPassswordErrorMessage()}}</mat-error>

          </mat-form-field>

          <div class="container-login100-form-btn">
            <button type="submit" class="login100-form-btn">
              Login
            </button>
            <mat-error *ngIf="!isLogged">Usuario o contraseña incorrectos</mat-error>
          </div>


        </form>
        <div class="login100-more">
          <div class="container">

            <div class="bird-container bird-container--one">
              <div class="bird bird--one"></div>
            </div>

            <div class="bird-container bird-container--two">
              <div class="bird bird--two"></div>
            </div>

            <div class="bird-container bird-container--three">
              <div class="bird bird--three"></div>
            </div>

            <div class="bird-container bird-container--four">
              <div class="bird bird--four"></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>