.mat-card {
    min-height: 90vh !important;
    border-radius: 20px !important;
}

.mat-card-header {
    border-bottom: 1px solid #E0E0E0 !important;
}

.steps {
    text-align: center;
    padding: 16pt 0;
}

@media (min-width: 992px) {
    .steps__inner {
        -js-display: flex;
        display: flex;
        justify-content: space-around;
    }
}

.step {
    padding: 16pt 0;
    text-align: center;
    width: 100%;
    border-top: 1px solid #eee;
    overflow: auto;
    margin-top: 5%;
}

.step:first-child {
    border-top: none;
}

@media (min-width: 992px) {
    .step {
        border-top: none;
        width: auto;
    }
}

.step__media {
    margin: 16pt 0;
}

@media (min-width: 992px) {
    .step__media {
        margin: 32pt 0;
    }
}

.step__image {
    max-height: 200px;
    max-width: 222px;
    margin-top: 8pt;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none; // user-drag: none;
}

@media (min-width: 600px) {
    .step__image {
        max-width: none;
    }
}

.step__text {
    max-width: 36ch;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mat-progress-bar {
    width: 30% !important;
    margin-left: 35% !important;
}

/* Float Shadow */

.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* BounceIn*/

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    animation-duration: 0.75s;
    animation-name: bounceIn;
}