<ng-container *ngIf="focus_list && IsConnected">
    <mat-card *ngFor="let focus of focus_list; trackBy: trackByFn">
      <ng-container *ngFor="let analyzer of focus.analyzers; trackBy: trackByFn ">
        <mat-card-header>
          <mat-card-title>{{focus.name}}</mat-card-title>
          <mat-card-subtitle>{{ analyzer.manufacturer }} - {{ analyzer.model}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table class="mdl-data-table mdl-js-data-table">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Medida</th>
                <th>Valor</th>
                <th>Unidades</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody align="center">
              <tr *ngFor="let sensor of analyzer.sensors; trackBy: trackByFn" [app-sensor-rt-data]="sensor">
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </ng-container>
    </mat-card>
  </ng-container>
  
  <ng-container *ngIf="focus_list.length === 0 && IsConnected || focus_list.length === 0 && !IsConnected || focus_list.length !== 0 && !IsConnected">
    <mat-card>
      <app-display-messages [title]="title" [message]="message" [isDataEmpty]="focus_list.length === 0 && IsConnected"
        [isConnected]="IsConnected"></app-display-messages>
    </mat-card>
  </ng-container>