<td class="mdl-data-table__cell--non-numeric">{{sensor.measuringComponent.name }}</td>
<td *ngIf="!currentAnalogData">*</td>
<td *ngIf="currentAnalogData">{{ currentAnalogData.value }}</td>
<td>{{ sensor.unit.name }}</td>
<td *ngIf="currentAnalogData && currentAnalogData.samples > 0; else elseBlock">
  <mat-icon class="operative-icon" matTooltip="Operativo" matTooltipPosition="right">check_box</mat-icon>
</td>
<ng-template #elseBlock>
  <td>
    <mat-icon class="error-icon" matTooltip="Fallo" matTooltipPosition="right">error</mat-icon>
  </td>
</ng-template>
