<mat-sidenav-container class="sidenav-container" autosize>

  <mat-sidenav #sidenav class="sidenav" mode="side" opened="true" [(opened)]="opened" autosize>

    <mat-toolbar *ngIf="this.authService.isLoggedIn()" color="primary" (click)="sidenav.toggle()">
      <span class="sidenavTitle">Menú</span>
    </mat-toolbar>

    <ng-container *ngIf="this.authService.isLoggedIn()">
      <div class="userView" *ngIf="isExpanded">
        <span class="userTitle">{{username}}</span>
      </div>
      <mat-nav-list>
        <mat-list-item (click)="isExpanded = !isExpanded" [ngClass]="{'hvr-sweep-to-left': isExpanded, 'hvr-sweep-to-right': !isExpanded}">
          <button mat-icon-button>
            <mat-icon *ngIf="!isExpanded">chevron_right</mat-icon>
            <mat-icon *ngIf="isExpanded">chevron_left</mat-icon>
          </button>
        </mat-list-item>

        <mat-list-item class="hvr-pulse-grow" *ngFor="let navItem of navigationList" [routerLink]='[navItem.path]'
          routerLinkActive="navItem.active">
          <mat-icon mat-list-icon>{{navItem.icon}}</mat-icon>
          <p matLine *ngIf="isExpanded">{{navItem.title}}</p>
        </mat-list-item>

      </mat-nav-list>
    </ng-container>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar *ngIf="this.authService.isLoggedIn()" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button *ngIf="!opened" (click)="sidenav.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="example-spacer"></span>
      <button class="example-icon" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon aria-label="Login">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before">
        <!-- <button mat-menu-item [disabled]="this.authService.isLoggedIn()" (click)="logIn()">Iniciar sesión</button> -->
        <button mat-menu-item [disabled]="!this.authService.isLoggedIn()" (click)="logOut()">Cerrar sesión</button>
      </mat-menu>
    </mat-toolbar>

    <router-outlet></router-outlet>
    <div class="holder" *ngIf="showLoadingIndicator">
      <div class="preloader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>