#chartdiv {
    width: 100%;
    height: 500px;
    margin-top: 5%;
}

.hidden {
    visibility: hidden; // position: absolute !important;
    // top: -9999px !important;
    //left: -9999px !important;
}

.show {
    visibility: visible; // position: absolute !important;
    // width: 90% !important;
    // height: 50vh !important;
}

.optionButtons {
    margin-right: 5px !important;
}

.mat-expansion-panel {
    background: #3F51B5 !important;
    color: white !important;
}

.mat-expansion-panel-header-title {
    color: white !important;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
    color: white !important;
}

.mat-card {
    min-height: 90vh !important;
    border-radius: 20px !important;
}

.mat-card-header {
    border-bottom: 1px solid #E0E0E0 !important;
}

.mat-action-row {
    justify-content: center !important;
    background: #3F51B5 !important;
}

.mat-form-field {
    font-size: 14px !important;
    width: 45% !important;
    margin: 5px !important;
}

::ng-deep.white-form-field.mat-form-field-appearance-legacy .mat-form-field-label {
    color: white !important;
}

::ng-deep.mat-select-arrow {
    color: white !important;
}

::ng-deep.white-form-field.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white !important;
}

::ng-deep.white-form-field.mat-form-field-label-wrapper {
    color: white;
}

::ng-deep.mat-select-value {
    color: white !important;
}

::ng-deep.white-form-field.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: white !important;
}

.mat-datepicker-toggle,
.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button {
    color: white !important;
}

.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent {
    color: white !important;
}

.mat-select-value-text {
    color: white !important;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

/* Snakcbar */

::ng-deep snack-bar-container.custom-class {
    background: #1A237E;
}

::ng-deep .custom-class .mat-simple-snackbar {
    color: white;
}

::ng-deep .custom-class .mat-simple-snackbar-action {
    color: white;
}

/* second route preloader*/

$count: 10;
$time: 2; //in seconds
$size: 100;
$color: #283593;
//  negro #2D2F48
// blancp #ffffff
.holder {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
}

.preloader {
    /* size */
    width: $size + px;
    height: $size + px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: rotatePreloader $time + s infinite ease-in;
}

@keyframes rotatePreloader {
    0% {
        transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
    }
}

.preloader div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.preloader div:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    width: 10%;
    height: 10%;
    background-color: $color;
    transform: translateX(-50%);
    border-radius: 50%;
}

@for $i from 1 through $count {
    .preloader div:nth-child(#{$i}) {
        transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
        animation: rotateCircle + $i $time + s infinite linear;
        z-index: $count - $i;
    }
    @keyframes rotateCircle#{$i} {
        #{percentage(((50 / $count) * ($i - 1)) / 100)} {
            opacity: 0;
        }
        #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
            opacity: 1;
            transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
        }
        #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
            transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
        }
        #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
            transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
        }
        100% {
            transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
            opacity: 1;
        }
    }
}