<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle [disabled]="isLoading || !IsConnected">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Generar gráfico
      </mat-panel-title>
      <mat-panel-description>
        Selecciona punto de medida, contaminante y rango
        <mat-icon>show_chart</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <section class="example-section">
      <mat-form-field class="white-form-field">
        <mat-select class="white-form-field" placeholder="Seleccionar Punto de Medida" name="op" disableOptionCentering
          panelClass="customSelect">
          <mat-option class="white-form-field" *ngFor="let op of focusList" [value]="op" (click)="selectedFocus(op);">
            {{op.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="white-form-field">
        <mat-select class="white-form-field" placeholder="Seleccionar Sensor" name="op" disableOptionCentering
          panelClass="customSelect">
          <mat-option class="white-form-field" *ngFor="let op of sensors" [value]="op" (click)="selectedSensor(op);">
            {{op.measuringComponent.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <section class="example-section">
      <mat-form-field class="white-form-field">
        <input class="white-form-field" matInput [matDatepicker]="picker3" [max]="max_date" placeholder="Fecha inicial"
          [(ngModel)]="initialDate">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3 startView="year" [startAt]="max_date"></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="white-form-field">
        <input class="white-form-field" matInput [matDatepicker]="picker4" [max]="max_date" placeholder="Fecha final"
          [(ngModel)]="finalDate">
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4 startView="year" [startAt]="max_date"></mat-datepicker>
      </mat-form-field>
    </section>

    <mat-action-row>
      <button class="optionButtons" mat-stroked-button color="accent" [matMenuTriggerFor]="grafico">
        <mat-icon>more_vert</mat-icon>
        Gráfico
      </button>
      <mat-menu #grafico="matMenu" [overlapTrigger]="false" xPosition="after">
        <button mat-menu-item (click)="chart(); nextStep(); compareDates()" [disabled]="!disableButton">
          <mat-icon>show_chart</mat-icon>
          Generar gráfico
        </button>

        <button mat-menu-item [matMenuTriggerFor]="_series">
          <mat-icon>grade</mat-icon>
          Series predeterminadas
        </button>
      </mat-menu>

      <mat-menu #_opt="matMenu" [overlapTrigger]="false" xPosition="after">
        <button mat-menu-item (click)="getSerieSelected(); nextStep(); compareDates()">
          <mat-icon>autorenew</mat-icon>
          <span>Cargar</span>
        </button>

        <button mat-menu-item (click)="openDialog()" matTooltip="Elimina la configuración de series del punto de medida">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>

      <mat-menu #_series="matMenu" [overlapTrigger]="false" xPosition="after">
        <button mat-menu-item *ngFor="let serie of seriesList" [matMenuTriggerFor]="_opt" (mouseenter)="openMyMenu(serie.series)">
          <span *ngIf="serie && serie.series">{{serie?.description}}</span>
        </button>
      </mat-menu>

      <!--  -->
      <button class="optionButtons" mat-stroked-button color="accent" color="accent" [matMenuTriggerFor]="addSeries">
        <mat-icon>settings</mat-icon>
        Ajustes
      </button>

      <mat-menu #addSeries="matMenu" [overlapTrigger]="false" xPosition="after">
        <button mat-menu-item (click)="addSerie(); nextStep()">
          <mat-icon>add</mat-icon>
          Añadir serie
        </button>

        <button mat-menu-item (click)="saveConfig()">
          <mat-icon>save</mat-icon>
          Guardar series
        </button>


        <button mat-menu-item [matMenuTriggerFor]="delete_">
          <mat-icon>remove_circle</mat-icon>
          Borrar contaminante
        </button>
      </mat-menu>

      <mat-menu #delete_="matMenu" [overlapTrigger]="false" xPosition="after">
        <button mat-menu-item *ngFor="let name of namelist" (click)="removeSeriesChart(name)" matTooltip="Borrar contaminate del gráfico">
          <span>{{name}}</span>
        </button>
      </mat-menu>

      <button mat-stroked-button color="accent" (click)="downloadDataToCSV()" matTooltip="Descargar datos en formato csv del gráfico">
        <mat-icon>get_app</mat-icon>
        Descargar
      </button>
      <!--  -->

    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="focusDescription">{{focusDescription || 'Cargando ...'}}</mat-card-title>
    <mat-card-subtitle *ngIf="focusDescription">{{initialDate | date:'d/M/yyyy' || 'Cargando ...'}} - {{finalDate |
      date:'d/M/yyyy'}}</mat-card-subtitle>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="loadChart();compareDates(); nextStep()">
      <mat-icon aria-label="Refresh Chart" matTooltip="Actualizar el gráfico">refresh</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>

    <app-display-messages *ngIf="!isLoading" [title]="title" [message]="message" [isDataEmpty]="this.chartService.isDataEmpty()"
      [isConnected]="IsConnected"></app-display-messages>

    <div id="chartdiv" [ngClass]="{'hidden': this.chartService.isDataEmpty() || !IsConnected,
     'show': !this.chartService.isDataEmpty() && IsConnected}"></div>

  </mat-card-content>
</mat-card>