<h2 mat-dialog-title>Estás apunto de eliminar series</h2>
<mat-dialog-content>
  <p>¿Seguro que quieres eliminar?</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()" cdkFocusInitial>No</button>
  <button mat-raised-button [mat-dialog-close]="canDelete">Sí</button>
</mat-dialog-actions>