<ng-container *ngIf="isDataEmpty && isConnected">
  <div class="step">
    <div class="step__media hvr-float-shadow bounceIn">
      <img src="assets/emptyChart.svg" class="step__image">
    </div>
    <h4 class="bounceIn" *ngIf="message">{{title}}</h4>
    <p class="step__text bounceIn">{{ message || 'Cargando ...' }}</p>
  </div>
</ng-container>

<ng-container *ngIf="!isConnected">
  <div class="step">
    <div class="step__media hvr-float-shadow bounceIn">
      <img src="assets/warn.svg" class="step__image">
    </div>
    <h4 class="bounceIn"> No hay conexión</h4>
    <p class="step__text bounceIn">Ha habido algún error de conexión con el servidor. Se intentará reestablecer
      la conexión.</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-container>